gdown
tensorboard
opencv-python
torchreid
pandas
seaborn
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
tqdm
protobuf
ultralytics
gradio
rfdetr

# Remove this if you are using a cuda (install it your self)
torch
torchvision


# reid_poc
torch
torchvision
torchaudio
opencv-python
ultralytics
boxmot
scipy
Pillow
numpy